body,footer{
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro',sans-serif;
	cursor: default;
	font-size: 14pt;

	--first-row: #F79824;
	--second-row: #00A6A6;
	--third-row: #2D7DDD;

}

footer{
	background-color: #252525;
	padding: 4.25em;
	text-align: center;
	color: #F2E4CB;
}

footer a{
	display: inline-block;
	color: #F2E4CB;
	width: 150px;
	padding: 5px;
	margin: 5px;
	border: 2px solid #F2E4CB;
}

footer a:hover{
	background-color: #F2E4CB;
	color: #252525;
}

.container{
	width: 90%;
	margin: auto;
	margin-bottom: 5em;
}

.breadcrumbs-wrapper{}

.breadcrumbs{
	list-style: none;
	font-size: 16pt;
	padding: 0;
}

.breadcrumbs li{
	display: inline;
}

.breadcrumbs li a{
	text-decoration: none;
	color: black
}

.breadcrumbs li a:hover{
	color: #2D7DDD;
}

.breadcrumbs li:nth-child(2):before, .breadcrumbs li:nth-child(3):before{
	content: "/";
	margin-left: 4px;
	margin-right: 8px;
}

.grid-container{
	margin: auto;
	display: grid;
	grid-template-columns: 100%;
	grid-row-gap: 2.5em;
	grid-column-gap: 1.5em;
	justify-content: center;
}

.grid-box{
	margin-top: 15px;
	border-style: solid;
	border-width: 1.25px;
	border-top: 10px;
	border-top-style: solid;
	background-color: white;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-box-shadow: 0px 25px 10px -15px #bdbdbd;
	box-shadow: 0px 25px 10px -15px #bdbdbd;
}

.grid-box-body{
	padding: 1.25em;
}

.grid-box-body h1{
	font-weight: 300;
}

.grid-box-body p{
	font-weight: 300;
	font-size: 14pt;
	line-height: 1.5;
}

.grid-box-body span{
	color: #F45D01;
}

.grid-box-footer{
	border-top: 1px solid #bdbdbd;
	padding: 1.5em;
	justify-content: center;
	font-size: 7pt;
	color: #636363;
}

.grid-box-footer{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}


.button{
	margin: 12.5px auto;
	width: 200px;
	padding: 10px;
	border-radius: 25px;
	color: white;
	font-size: 11pt;
	text-align: center;
}

.grid-container .grid-box:nth-child(n+1):nth-child(-n+2){border-color: var(--first-row);}
.grid-container .grid-box:nth-child(n+3):nth-child(-n+4){border-color: var(--second-row);}
.grid-container .grid-box:nth-child(n+5):nth-child(-n+6){border-color: var(--third-row);}

.grid-container .grid-box:nth-child(n+1):nth-child(-n+3) .grid-box-footer{border-top-color: var(--first-row);}
.grid-container .grid-box:nth-child(n+3):nth-child(-n+4) .grid-box-footer{border-top-color: var(--second-row);}
.grid-container .grid-box:nth-child(n+5):nth-child(-n+6) .grid-box-footer{border-top-color: var(--third-row);}

.grid-container .grid-box:nth-child(n+1):nth-child(-n+3) h1{color: var(--first-row);}
.grid-container .grid-box:nth-child(n+3):nth-child(-n+4) h1{color: var(--second-row);}
.grid-container .grid-box:nth-child(n+5):nth-child(-n+6) h1{color: var(--third-row);}

.grid-container .grid-box:nth-child(n+1):nth-child(-n+3) .button{background-color: var(--first-row);}
.grid-container .grid-box:nth-child(n+3):nth-child(-n+4) .button{background-color: var(--second-row);}
.grid-container .grid-box:nth-child(n+5):nth-child(-n+6) .button{background-color: var(--third-row);}

.button a{
	color: white;
	text-decoration: none;
}

.button a i{
	padding-left: 6px;
}

.app-block{
	border-bottom: 2px solid #bdbdbd;
	line-height: 1.5;
}

.content{
	margin-bottom: 50px;
}

a{
	text-decoration: none;
	color: #2D7DDD;
}

code{
	color: #424242;
	background-color: #f0f0f0;
	padding: 5px;
}

.inline {display: inline;}

pre{
	tab-size: 0;
	max-width: 90%;
	margin: 0.5em auto;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	line-height: 1.7 !important;
	font-size: 12pt;
	cursor: text;
	tab-size: 1;  
	background-color: #252525;
	-webkit-box-shadow: 0 0 20px #525252;
	box-shadow: 0 0 20px #525252;
	overflow-x: scroll;
}

pre code{
	padding: 0;
	margin: 0;
	background-color: transparent;
	color: #bdbdbd;
}

.package{color:#bebada !important;}
.package2{color: #C200FB !important;}
.object{color: #f0f0f0 !important;}
.function{color: #2D7DDD !important;}
.argument{color: #fb8072 !important;}
.value{color: #8dd3c7 !important;}
.comment{color: #b3cde3 !important;}
.logical{color: #fdb462 !important;}
.data{color: #00A878 !important;}
.file{color: #63C1E8 !important;}

.tags{
	list-style: none;
	padding: 0;
}

.tags li{
	display: inline;
	color: #525252;
	margin-left: 4px;
	margin-right: 4px;
}

.tags li:nth-child(1){margin-left: 0;}

.tags li{
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	background-color: #EBEDF0;
	color: black;
	text-decoration: none !important;
	/*cursor: pointer;*/
}

.tags li:before{
	content: "#";
	padding-right: 1px;
}

@media screen and (min-width: 800px) {

	.grid-container{
		grid-template-columns: repeat(2, 48.5%);
		grid-row-gap: 1.5em;
	}

	.grid-box-body a:hover{
		text-decoration-color: #2D7DDD;
		text-decoration-line: underline;
	}

	pre{
		tab-size: 1;
	}

}
