body,footer{
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro',sans-serif;
	cursor: default;
	font-size: 14pt;
	line-height: 2;
}

footer{
	border-top: 1px solid #bdbdbd;
	background-color: #f0f0f0;
	padding: 2em;
	text-align: center;
	color: #2D7DDD;
}

footer a{
	color: #F45D01;
}

.container{
	width: 90%;
	margin: auto;
}

.app-block{
	border-bottom: 2px solid #bdbdbd;
}

.content{
	margin-bottom: 50px;
}

a{
	text-decoration: none;
	color: #2D7DDD;
}

code{
	color: #424242;
	background-color: #f0f0f0;
	padding: 5px;
}

.inline {display: inline;}

pre{
	tab-size: 0;
	max-width: 90%;
	margin: 0.5em auto;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	line-height: 1.7 !important;
	font-size: 12pt;
	cursor: text;
	tab-size: 1;  
	background-color: #252525;
	-webkit-box-shadow: 0 0 20px #525252;
	box-shadow: 0 0 20px #525252;
	overflow-x: scroll;
}

pre code{
	padding: 0;
	margin: 0;
	background-color: transparent;
	color: #bdbdbd;
}

.package{color:#bebada !important;}
.package2{color: #C200FB !important;}
.object{color: #f0f0f0 !important;}
.function{color: #2D7DDD !important;}
.argument{color: #fb8072 !important;}
.value{color: #8dd3c7 !important;}
.comment{color: #b3cde3 !important;}
.logical{color: #fdb462 !important;}
.data{color: #00A878 !important;}
.file{color: #63C1E8 !important;}

.tags{
	list-style: none;
	padding: 0;
}

.tags li{
	display: inline;
	color: #525252;
	margin-left: 4px;
	margin-right: 4px;
}

.tags li:nth-child(1){margin-left: 0;}

.tags li{
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	background-color: #EBEDF0;
	color: black;
	text-decoration: none !important;
	/*cursor: pointer;*/
}

.tags li:before{
	content: "#";
	padding-right: 1px;
}


@media screen and (min-width: 800px) {

	pre{
		tab-size: 1;
	}

	footer a:hover{
		text-decoration-color: #F45D01;
		text-decoration-line: underline;
		text-decoration-style: wavy;	
	}
}
