:root {
    --brand: #299996;
    --brand-alt: hsla(178, 58%, 38%, 0.06);
    --light: #f0f0f0;
    --text: #3f454b;
    --dark: #252525;
    --shadow: hsla(0, 0%, 0%, 0.18);
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    color: var(--dark);
}

main, header, form, section {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
    margin-top: 12px;
    line-height: 1.6;
    font-size: 14pt;
}

legend {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1.1;
    font-size: 24pt;
}

label {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 14pt;
    font-weight: 400;
}

.input-example {
    display: inline-block;
    font-size: 11pt;
    color: var(--text);
}

.header {
    display: block;
    width: 100%;
    position: fixed;
    background-color: white;
    -webkit-box-shadow: 0 0 4px 0 var(--shadow);
    box-shadow: 0 0 4px 0 var(--shadow);
    z-index: 2;
}

.header h1 {
    font-size: 11pt;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0;
    padding: 12px 0;
    padding-left: 32px;
}

.main {
    background-color: var(--light);
    padding-top: 50px;
    min-height: calc(100vh - 50px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-section {
    width: 350px;
    height: 375px;
    padding: 24px;
    border-radius: 6px;
    background-color: white;
    -webkit-box-shadow: 0 0 4px 0 var(--shadow);
    box-shadow: 0 0 4px 0 var(--shadow);
}

.form {
    padding: 16px 0;
    border-bottom: 1px solid var(--shadow);
}

.output {
    display: block;
    margin: 0;
    padding: 12px 0;
    text-align: center;
    background-color: var(--dark);
    color: var(--light);
}

.clock {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16pt;
    font-weight: 600;
}

.error {
    color: red;
    font-weight: bold;
}

input[type=time] {
    display: block;
    margin: 8px 0;
    padding: 12px 0;
    padding-left: 12px;
    width: calc(100% - 12px);
    font-family: 'Courier New', Courier, monospace;
    font-size: 13pt;
    border: none;
    border: 1px solid var(--shadow);
    border-radius: 3px;
}

input[type=time]:focus {
    border-color: var(--brand);
}

button {
    display: block;
    border: none;
    border: 2px solid transparent;
    background-color: white;
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px 0;
    width: 100%;
    margin-top: 18px;
    border-radius: 3px;
    cursor: pointer;
}

#submit {
    background-color: var(--brand);
    color: var(--light);
}

#submit:hover{
    border-color: var(--brand);
    background-color: transparent;
    color: var(--brand);
}

#reset {
    background-color: var(--brand-alt);
    color: var(--brand);
}