html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16pt;
    color: #3f454b;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    line-height: 1.4;
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
    color: #252525;
}

p {
    padding: 0;
    margin-bottom: 12px;
    line-height: 1.8;
    color: #3f454b;
}

form legend {
    font-size: 21pt;
    font-weight: 600;
    color: #252525;
    margin-bottom: 12px;
}

form label {
    font-size: 16pt;
    padding: 0;
    margin: 0;
    line-height: 1.4;
    color: #252525;
}

button, input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    border: none;
}

button{
    width: 100%;
    padding: 8px 0;
    margin: 0;
    margin-top: 16px;
    background-color: #252525;
    border: 2px solid #252525;
    color: #f6f6f6;
    font-size: 11pt;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #252525;
}

input[type=text], input[type=password]{
    width: 95%;
    margin: 0; 
    margin-top: 4px;
    padding: 8px;
    padding-left: 12px;
    font-size: 12pt;
    border-radius: 3px;
    border: 2px solid transparent;
    -webkit-box-shadow: inset 0 1px 4px #c5c5c5;
    box-shadow: inset 0 1px 4px #c5c5c5;
}

input[type=text]:focus, 
input[type=password]:focus {
    border-color: #252525;
}

.invalid-usr #username,
.invalid-pwd #password,
.invalid-all #username,
.invalid-all #password {
    border: 2px solid red;
}


.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}


.signin-form, .header {
    display: block;
    width: 85%;
    margin: 0 auto;
    padding: 24px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 8px 2px hsla(0, 0%, 0%, 0.18);
}

.main .header h1 span {
    color: #2d7ddd;
}

.error-message {
    display: block;
    color: red;
    font-size: 11pt;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 16px;
}


@media screen and (min-width: 912px){

    .signin-form, .header {
        max-width: 500px;
    }
}
