html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}

main {
    margin: 0 auto;
    width: 90%;
}

main {
    margin: 0 auto;
    padding-bottom: 44px;
}

h1, h2, h3 {
    color: #252525;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
}

p {
    color: #3f454b;
    line-height: 1.7;
    font-size: 16pt;
}

button {
    width: 125px;
    padding: 4px 0;
    border-radius: 4px;
    margin: 0;
    border: none;
    background-color: #3f454b;
    color: #f3f3f3;
    font-size: 11pt;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

select {
    padding: 6px 0;
    padding-left: 6px;
    width: 250px;
    font-weight: 600;
    background-color: white;
    background-size: 16px;
}

legend {
    font-size: 16pt;
    margin-bottom: 12px;
    color: #252525;
}

label {
    font-size: 14pt;
    color: #252525;
}

form {
    background-color: #f3f3f3;
    padding: 16px;
    margin: 12px 0;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form button, form select {
    display: inline-block;
}

form select {
    margin-right: 12px;
}

#report {
    margin: 0;
    padding: 0;
    font-size: 16pt;
}

#report pre {
    overflow-x: scroll;
    padding: 1em;
    background-color: #f6f6f6;
}

#report pre code {
    font-size: 14pt;
}

.shiny-html-output .container-fluid,
.shiny-html-output .main-container {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 972px) {
    main {
        width: 100%;
        max-width: 912px;
    }
}